[Unit]
Description=Terraria tModLoader Server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/tmod/1456/Linux

# 启动前执行 Git 备份
# ExecStartPre=/root/tmod/1456/Linux/git_backup.sh

# 启动服务器
ExecStart=/root/tmod/1456/Linux/TerrariaServer -config /root/tmod/1456/Linux/serverconfig.txt

# 停止服务
ExecStop=/usr/bin/pkill -f TerrariaServer

Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
